{% extends "base.html" -%}
{% block title -%}{{manufacturer.name}} {{model.name}}{% endblock title -%}
{% block content -%}
<h1>Edit {{manufacturer.name}} {{model.name}}</h1>

<form method='post' action='' name='model-name'>
    <p>
        Enter the new name:<br>
        {{ form.name(size=20) }}<br>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    </p>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flash">
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <input type="submit" value="Submit">
</form>

<p>
    <a href="{{url_for('modelPage', manufacturer_id=manufacturer.id, model_id=model.id)}}">
        Back to manufacturers
    </a>
</p>
{% endblock content -%}
