{% extends "bootstrap/base.html" -%}
{% block title -%}{{manufacturer.name}} Models{% endblock title -%}
{% block content -%}
<div class="container">
    <h1>Edit {{manufacturer.name}}</h1>


    <form method='post' action='' name='manufacturer-name'>
        <p>
            Enter the new name:<br>
            {{ form.name(size=20) }}<br>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        </p>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flash">
            {% for message in messages %}
            <li>{{message}}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        <input type="submit" value="Submit">
    </form>

    <p><a href="{{url_for('manufacturerlist')}}">Back to manufacturers</a></p>
</div>
{% endblock content -%}
