<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Udacity Catalog</title>
    </head>
    <body>
        <div class="container">
            <h1>Airplane Manufacturers</h1>
            <ul>
                {% for manufacturer in manufacturers %} 
                <li>
                    <a href="{{url_for('manufacturerPage', manufacturer_id=manufacturer.id)}}">{{manufacturer.name}}</a>
                </li>
                {% endfor %}

            </ul>
        </div>
    </body>
</html>
